// :root{}
body {
    display: flex;
    flex: 0, 0, auto;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding-bottom: 10%;
    font-family: 'Architects Daughter', cursive;
    //? optionnal classes
    .hide {
        display: none !important;
    }
    .show {
        display: flex !important;
    }
}