.game {
    @include flex($w: wrap, $jc: space-evenly, $ai: flex-start);
    width: 100%;
    height: 100%;
    //? Game-area-> _grid
    .game-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        .players {
            @include flex($d: column);
            .alert-player {
                display: none;
            }
            .players-list {
                padding: 0;
                li {
                    position: relative;
                    display: flex;
                    align-items: flex-end;
                    font-size: 1.1rem;
                    cursor: pointer;
                    padding: .3rem;
                    img {
                        width: 3rem;
                    }
                    .remove-player-btn {
                        position: absolute;
                        top: 0;
                        right: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 2rem;
                        height: 1.3rem;
                        &::after {
                            content: 'x';
                            position: absolute;
                            left: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: .8rem;
                            height: .8rem;
                            color: white;
                            background-color: red;
                            font-size: 0.9rem;
                            border-radius: 50%;
                            margin: 0 .5rem;
                            visibility: hidden;
                            opacity: 0;
                        }
                    }
                    &:hover {
                        .remove-player-btn::after {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .start-game {
            padding: .5rem;
            border-radius: 50px;
            border: 1px solid black;
            background-color: lightgreen;
            display: none;
        }
    }
    .endgame-popup {
        @include box($pos: absolute, $z: 2, $t: 50%, $l: 50%);
        transform: translate(-50%, -50%);
        width: 60vmin;
        height: 40vmin;
        background-color: #fff;
        border: 5px solid black;
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
        @include flex($d: column, $jc: space-evenly);
        p {
            font-size: 2rem;
            margin: 1rem;
        }
        button {
            cursor: pointer;
            padding: .5rem;
        }
        display: none;
    }
}